.container {
  @apply flex flex-col space-y-1;

  &.container--disabled {
    @apply opacity-50;
  }
}

.input-block {
  @apply relative w-full;

  &.input-block--warning {
    .input {
      @apply border-button-warning;
    }
  }
}

.input-label {
  @apply block font-body text-sm font-semibold text-base select-none;
}

.input {
  @apply w-full h-11 px-4 pl-2.5 pr-8;
  @apply font-body text-md text-base;
  @apply bg-button-inactive bg-opacity-70;
  @apply border-x border-y border-button-inactive rounded outline-none;
  @apply transition ease-in-out;
  @apply focus:shadow;
}

.icon {
  @apply absolute top-3 right-3 text-warning select-none;
}

.message {
  @apply block;
  @apply font-body font-semibold text-sm text-warning select-none;
}
