.pill {
  @apply px-2 py-1;
  @apply inline-flex flex-row items-center justify-center;
  @apply font-body font-normal text-sm select-none;
}

.type--block {
  @apply rounded-t rounded-b;
}

.type--round {
  @apply rounded-full;
}

.status--ready {
  @apply bg-pill-ready text-inverted;
}

.status--loading {
  @apply bg-pill-loading text-base;
}

.status--default,
.status--waiting {
  @apply bg-pill-waiting text-base;
}

.status--warning {
  @apply bg-pill-warning text-inverted;
}
