.default {
  @apply inline-block;
  fill: currentColor;
  height: inherit;
  width: inherit;
}

.tiny {
  @apply w-2 h-2;
}

.extra-small {
  @apply w-2.5 h-2.5;
}

.small {
  @apply w-3 h-3;
}

.regular {
  @apply w-3.5 h-3.5;
}

.medium {
  @apply w-4 h-4;
}

.large {
  @apply w-5 h-5;
}

.extra-large {
  @apply w-6 h-6;
}
